<button (click)="back()" type="button" class="btn btn-outline-light mb-2">
  Back
</button>
<div class="card mb-3" style="max-width: 940px">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img
        [src]="movieDetails | noImg"
        [alt]="movieDetails?.titulo"
        class="card-img-top"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ movieDetails?.titulo }}</h5>
        <p class="card-text">
          {{ movieDetails?.descripcion }}
        </p>
        <p class="card-text">
          <small class="text-muted">Fecha : {{ movieDetails?.fecha }}</small>
        </p>
        <p class="card-text">
          <small class="text-muted">
            Cantidad de votos : {{ movieDetails?.votos }}</small
          >
        </p>
        <p class="card-text">
          {{ movieDetails?.puntuacion
          }}<small><i class="fas fa-star"></i></small>
        </p>
      </div>
    </div>
  </div>
</div>
