<div class="cards my-3">
  <h5 class="text-white">{{ category }}</h5>
  <div class="card-columns mt-3">
    <div class="card" *ngFor="let pelicula of cartelera">
      <img [src]="pelicula | noImg" class="card-img-top" alt="cards" />
      <div class="card-body">
        <h5 class="card-title name">{{ pelicula.titulo | slice: 0:15 }}</h5>
        <p class="card-text">
          {{ pelicula.puntuacion }}<small><i class="fas fa-star"></i></small>
        </p>
      </div>
    </div>

    <!-- <div
      class="card"
      (click)="verPelicula(pelicula.id)"
      *ngFor="let pelicula of cartelera | filter: moviesName"
    >
      <img [src]="pelicula | noImg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ pelicula.titulo | slice: 0:15 }}</h5>
        <p class="card-text">
          <i class="fas fa-star"></i> {{ pelicula.puntuacion }} / 10
        </p>
      </div>
    </div> -->
  </div>
</div>
