<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- -->
  <a routerLink="/home">
    <img src="./assets/netflix-2015-logo.svg" alt="" />
  </a>
  <!--  -->
  <button
    class="navbar-toggler nav__btn"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon nav__btn"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search" routerLinkActive="active"
          >Searh</a
        >
      </li>
    </ul>
  </div>
</nav>
